<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <style>
        table, th, td {
        border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Hello from index template.</h1>

    {{ companylist }}

    <table>
        <tr>
            <td>Name</td>
            <td>Serial</td>
        </tr>g
        {% for company in companylist %}
        
        <tr>
            <td>Hello</td>
            <td>Hello2</td>
        </tr>

        {% endfor %}
    </table>
</body>
</html>